.form {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center; */
    text-align: center;

    width: 350px;
    margin-right: auto;
    margin-left: auto;

    padding: 50px;
}

.form > button{
    display: block;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.form-label-title{
    margin-right: 5px;
}